/*	#f7f3e8 tan color
	#0a0705	font color 
	Futura Medium 
	Prisma Regular
*/

body {
	background-color: #f7f5e9;
	font-family: 'Muli', Arial, sans-serif;
	font-weight: 700;
}
/*************************
		NAVBAR
*************************/

nav {
	border-bottom: 2px solid #746b6e;
}
.bg-faded {
	color: #0a0705;
	background-color: #f7f5e9;
}

.navbar-brand {
	font-family: 'Monoton', Verdana, sans-serif;
	font-size: 2rem;
	font-weight: 400;
	letter-spacing: .15rem;
}

.btn-outline-secondary {
	color: #746b6e;
	border-color: #746b6e;
}

.btn-outline-secondary:hover {
	color: #f7f5e9;
	border-color: #746b6e;
	background-color: #746b6e;
}		

.clam-looker {
	height: 60px;
	width: 60px;
	margin-right: 10px;
}

/*************************
     	Title
*************************/
.cover-photo {
	margin-top: 82px;
	border-bottom-left-radius: 100px;
    border-bottom-right-radius: 100px;
}

/*************************
     Boogie Slideshow
*************************/
.boogie-slideshow {
	height: 350px;
	max-height: 33%;
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
	margin-top: 50px;
}

/*************************
     Synopsis
*************************/
.title {
	height: 650px;
	font-size: 1.4rem;
	margin-top: 30px;
	line-height: 2.5rem;
}

.title::after {
  content: "";
  background: url(../img/book-cover.jpg) no-repeat center center fixed;
  background-size: 1200px 1400px;
  border-radius: 5px;
  opacity: 0.18;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;   
}

.synopsis:first-letter {
	font-family: Georgia;
	font-size: 4rem;
	float: left;
	line-height: 60px;
	padding-right: 6px;
	padding-left: 3px;
	padding-top: 9px; 
}

p .story {
	text-align: center;
	font-style: italic;
	font-size: 2rem;
}
/*************************
     Slick Slideshow
*************************/
.clam-surfers {
	margin-bottom: 50px;
}

.preview {
	margin-top: 60px;
}

.slick-image {
	width: 100%;
	height: 60%;
	border-radius: 10px;
}

.slick {
	margin-top: 0px;
}

.slick-prev {
	width: 40px;
	height: 40px;
}

.slick-next {
	width: 40px;
	height: 40px;
}

.slick-dots {
	margin-left: -20px;
}

/*************************
	About the Author
*************************/

hr {
	margin-top: 80px;
	/*background-color: #0a0705;*/
}


.author {
	margin-top: 50px;
	margin-bottom: 80px;
}

.author-img {
	width: 100%;
	max-width: 250px;
	border-radius: 50%;
	margin-top: 0px;
}

.author-text {
	margin-top: 50px;
}

/*************************
		Footer
*************************/
.footer {
	margin-top: 100px;
	border-top: 1px solid #0a0705;
}
.copyright {
	font-size: 1rem;
}

.clam-towel {
	height: 60px;
	width: 60px;
	margin-right: -10px;
}

/*************************
	small width styles
*************************/
@media (max-width: 1200px) {
	.title::after {
		background-size: 1000px 1400px;  
	}
}

@media (max-width: 992px) {
	.title::after {
		background-size: 800px 1400px;  
	}

	.title {
		height: 750px;
	}
}

@media (max-width:767px) {
    .container {
        width: 100%;
        margin-left: 0;
        margin-right: 0;
    }

    .cover-photo {
    	margin-top: 110px;
    }

    .clam-logo {
    	display: block;
    }

    .navbar-brand {
		font-size: 1.2rem;
	}

	.copyright {
		font-size: .8rem;
	}

	.navbar-toggler-icon {
		height: 35px;
	}

	.nav-item.nav-link {
		font-size: 15px;
	}

	#preview {
	 	margin-top: 120px;
	 }

}
	
@media (max-width: 767px) {
	#preview {
		margin-top: 20px;
	}
}

@media (max-width: 665px) {
	.title::after {
		background-size: 650px 1400px;  
	}
}

@media (max-width: 555px) {
	#preview {
	margin-top: 50px;
	}

	.title {
		margin-top: 30px;
		height: 1100px;	
	}
}


@media (max-width: 450px) {
	#preview {
		margin-top: 120px;
	}

}


@media (max-width: 396px) {
	#preview {
		margin-top: 150px;
	}
	.clam-surfers {
	margin-bottom: 0px;
	margin-top: -80px;
	}
}

@media (max-width: 369px) {
	.title {
		height: 1300px;
	}

	.clam-surfers {
	margin-bottom: 0px;
	margin-top: -80px;
	}
}

@media (max-width: 355px) {
	#preview {
		margin-top: 50px;
	}

	.title {
		margin-top: -30px;
	}



















